/* ---------------------------------------------
                    Colors
--------------------------------------------- */

/* ---------------------------------------------
                  Main Colors 
--------------------------------------------- */
$gradient-color: linear-gradient(to left, #a00ea0, #ff4f81);
$main-color: #ce110a;
$hover-color: #e72019;
$light-color: #fff !default; 
$light-color: #ffff; 

$font-color: #000;
$desc-color: #777;
$second-desc-color: #555;
$second-title-color:#333;
$section-color: #1e1e1e;
$title-color: #ce110a;

/* ---------------------------------------------
                Decoration colors 
--------------------------------------------- */
$hr-color: #eee;
$box-shadow: rgba(0,0,0,0.1);
$second-box-shadow: #3B566E;
$sticky: #1e1e1e; /* Disabled */

/* ---------------------------------------------
                Social color icons
--------------------------------------------- */
$twitter: #1da1f2;
$facebook: #3b5998;
$instagram:linear-gradient( #f9da27, #e66b30, #d6263d, #b73980, #a2429c, #4e48a8);
$youtube:#ce110a;
$linkedin:#0074af;
/* ---------------------------------------------
             Services icons colors
--------------------------------------------- */

$s1:#0099e5;
$s2:#ff4c4c;
$s3:#34bf49;
$s4:#0dd3ff;
$s5:#ff4f81;
$s6:#ffd900;