@import url("https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900");
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,900');

/* 
---------------------------------------------
Fonts Family and Styles
--------------------------------------------- 
*/

$main-font: 'Catamaran', sans-serif;
$second-font: "Montserrat", sans-serif;

/* 
---------------------------------------------
Test Fonts Family and Styles
--------------------------------------------- 
*/

$other-font:'Poppins', sans-serif;
$third-font:'Varela Round', sans-serif;